[project]
	description = Python library for Nessus REST API 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sorenaalto
[access "refs/for/refs/*"]
	read = group user/sorenaalto
	push = group user/sorenaalto
	label-Code-Review = -2..+2 group user/sorenaalto
	label-Verified = -1..+1 group user/sorenaalto
	rebase = group user/sorenaalto
	removeReviewer = group user/sorenaalto
	submit = group user/sorenaalto
[access "refs/heads/*"]
	read = group user/sorenaalto
	create = group user/sorenaalto
	push = +force group user/sorenaalto
	pushMerge = group user/sorenaalto
[access "refs/tags/*"]
	push = group user/sorenaalto
	push = +force group user/sorenaalto
